@import '../../core/reset.scss';

.parttimeposition{
        width:100%;
        height:100%;
        @include flexbox();
        @include flex-direction(column);
       
       
         .nav{
             width:100%;
             height:0.5rem;
             background:#fff;
             ul{
                 width:100%;
                 height:100%;
                 @include flexbox();
                 @include align-items(center) ;
                 li{
                    @include flex();
                    text-align: center;
                    @include border(0 1px 0 0,#333,solid);
                    font-size:0.18rem;
                 }
                 .noborder{
                     @include border(0,#fff,solid);
                 }
             }
             
         }
        
           
    }