.signIn-out{
    width: 100%;
    height:2rem;
    background: pink;
    @include flexbox();
    @include flex-direction(column);
    @include justify-content(center);
    @include align-items(center);
    .logo{
        width:1rem;
        height:1rem;
        background: red;
    }
}

.input{
    width:100%;
    height:3rem;
    background: yellow;
    .forget{
            text-align: right;
            width:2rem;
            height:0.2rem;
            background: #ccc;
            
    }
    .one{
        @include flexbox();
        @include flex-direction(column);
        @include align-items(center);
        .txt{
            display: inline-block;
            width:0.2rem;
            height:0.2rem;
            background:red;
            
        }
        .co{
            display: inline-block;
            width:2rem;
            height:0.35rem;
           
            background: #ccc;
            @include border(0 0 1px 0,black,solid);
            input{
                border:none;
                width: 2rem;
                height:0.3rem;
            }
        }
        .signIn{
            text-align: center;
            line-height: 0.35rem;
            width:2rem;
            height:0.35rem;
            background: blue;
            @include border(1px,blue,solid,0.2rem);
            
        }
        
    }
    
}
.footer{
    @include flexbox();
    @include flex-direction(column);
    @include justify-content(center);
    @include align-items(center);
    .line{
            width:2rem;
            margin-top:0.2rem;
            @include border(0 0 1px 0,black,solid);
            background: red;
        .other{
            position: absolute;
            top:-0.1rem;
            left:0.5rem;
            background: transparent;
            z-index: 999;
            background: #fff;
        }
        
    }
    .qq-out{
        @include flexbox();
        @include justify-content(space-around);
        width:2rem;
        margin-top:0.2rem;
       .qq{
           width:0.5rem;
            height:0.5rem;
            background: red;
            
       }
       
    }
    
    
}
